<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4" id="example-modal-sizes-title-lg">
            <ng-container *ngIf="formObj?.model">
                {{title}}
            </ng-container>
        </div>
    </div>
    <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px">
        <ng-container *ngIf="isLoading$ | async">
            <div class="overlay-layer bg-transparent">
                <div class="spinner spinner-lg spinner-success"></div>
            </div>
        </ng-container>

        <ng-container *ngIf="formObj?.model">
            <div class="row" *ngIf="!applyHide">
                <div class="col-12">
                    <button type="button"
                            class="btn btn-primary mb-3"
                            (click)="isCollapsed = !isCollapsed"
                            [attr.aria-expanded]="!isCollapsed"
                            aria-controls="collapseExample">
                        Show
                    </button>
                    <div [ngbCollapse]="isCollapsed">
                        <div class="diagram-parent mb-5" style="height: 450px">
                            <app-diagram [url]="diagramUrl" [taskUrl]="type" (importDone)="handleImported($event)"></app-diagram>

                            <div class="import-error" *ngIf="importError">
                                <strong>Failed to render diagram: </strong>
                                {{ importError.message }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <mat-tab-group>
                <mat-tab label="Spec">
                    <ng-container>
                        <form action="#" class="form form-label-right" [formGroup]="formGroup">
                            <div class="row">
                                <div class="col-12">
                                    <h3>Variables</h3>
                                    <app-base-edit-bpmn
                                            [formGroupParent]="formGroup"
                                            [arrGroup]="arrParamsGroup"
                                            [listInput]="listInput"
                                            [show]="show"
                                    ></app-base-edit-bpmn>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <h3>Models</h3>
                                    <app-base-edit-bpmn
                                            [formGroupParent]="formGroup"
                                            [arrGroup]="arrFormGroup"
                                            [listInput]="listInput"
                                            [show]="show"
                                    ></app-base-edit-bpmn>
                                </div>
                            </div>

                            <div class="row" *ngIf="arrDecision.length">
                                <div class="col-12">
                                    <h3>Decision</h3>
                                    <app-base-edit-bpmn-decision
                                            [formGroupParent]="formGroup"
                                            [formName]="'decision'"
                                            [typeDecision]="typeDecision"
                                            [arrDecision]="arrDecision"
                                    ></app-base-edit-bpmn-decision>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <h3>Draw test</h3>
                                    <app-draw-select></app-draw-select>
                                </div>
                            </div>

                        </form>
                    </ng-container>
                </mat-tab>
                <mat-tab label="Logs">
                    <div class="row" *ngIf="!applyHide">
                        <div class="col-12">
                            <h3>Logs</h3>
                            <table class="table table-head-custom table-vertical-center overflow-hidden">
                                <thead>
                                <th>id</th>
                                <th>createdDate</th>
                                <th>updatedDate</th>
                                <th>entityId</th>
                                <th>actBy</th>
                                <th>remarks</th>
                                <th>statusBefore</th>
                                <th>statusAfter</th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of formObj?.logs">
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.createdDate | date: 'dd-MMM-yyyy' }}</td>
                                    <td>{{ item.updatedDate | date: 'dd-MMM-yyyy' }}</td>
                                    <td>{{ item.entityId }}</td>
                                    <td>{{ item.actBy }}</td>
                                    <td>{{ item.remarks }}</td>
                                    <td>{{ item.statusBefore }}</td>
                                    <td>{{ item.statusAfter }}</td>
                                </tr>
                                <tr *ngIf="formObj?.logs.length === 0">
                                    <td colspan="8">Not found Data</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>

        </ng-container>
    </div>
    <div class="modal-footer" *ngIf="!show">
        <button
                type="button"
                class="btn btn-light btn-elevate mr-2"
                (click)="modal.dismiss()"
        >
            Cancel
        </button>
        <ng-container *ngIf="formObj?.model">
            <button
                    type="submit"
                    class="btn btn-primary btn-elevate"
                    (click)="save()"
                    [disabled]="formGroup.invalid"
            >
                {{id ? 'Approve' : 'Apply'}}
            </button>
        </ng-container>
    </div>
</div>
